    <div>
        <span class="category-header text-white">HOW IT WORKS</span><br/>
        <span class="title pull-left">
            <div class="text-left text-green">
                <!-- <li id="select-cat">
                    <span class = "glyphicon glyphicon-hand-right enumerate"></span>
                    <span class = "glyphicon glyphicon-star enumerate-collapse"></span>
                    <span class="text-green">Select job category</span>
                </li> -->
                 <li id="post-details">
                    <span class = "glyphicon glyphicon-hand-right enumerate"></span>
                    <span class = "glyphicon glyphicon-star enumerate-collapse"></span>
                    
                    <span class="text-green">
                     <a href="{% url "fixitMain:postjob" category="new"%}">Post job details for free</a>
                     (Upload images if applicable)</span>
                </li>
                 <li id = "get-bids">
                    <span class = "glyphicon glyphicon-hand-right enumerate"></span>
                    <span class = "glyphicon glyphicon-star enumerate-collapse"></span> 
                    <span class="text-green">
                        Get quotations from verified and rated specialists
                    </span>
                </li>
                 <li id = "choose-tradesman">
                    <span class = "glyphicon glyphicon-hand-right enumerate"></span>
                    <span class = "glyphicon glyphicon-star enumerate-collapse"></span>
                    <span class="text-green">
                        Choose the most suitable and competent bidder.
                    </span>
                </li>
            </div>
            <h5 class="pull-right"><br/>
               <dfn class="text-white"> ...It's that simple!</dfn>
            </h5>
        </span>
    </div>