{% load staticfiles %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Find  Local, Verified and Rated Contractors &amp; Compare
                     Prices </h3>
                     <strong class="text-center title"><i>  IN THREE EASY STEPS </i></strong>
                    <!-- <hr class="star-primary"> -->
                    <br/><br/>
                </div>
            </div>

            <div class="padding-lg-sides">
            <div class="row">
                <div class="col-sm-4 portfolio-item padless-sides">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static "fixit/img/portfolio/cabin.png" %}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item padless-sides">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static "fixit/img/portfolio/cake.png" %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item padless-sides">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static "fixit/img/portfolio/circus.png" %}" class="img-responsive" alt="">
                    </a>



                </div>
                
                </div>
            </div>
            </div>
        </div>