{% load staticfiles %}
<ul class="list-inline">
    <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook">
    	<img src ="{% static 'fixit/img/socials/facebook-social.png' %}" alt="share-ndoozi"  title="share this job on facebook"/>
    </i></a></li>

    <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus">
    	<img src ="{% static 'fixit/img/socials/google-social.png' %}" alt="share-ndoozi"  title="share this job on google plus"/>
    </i></a></li>

    <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter">
    	<img src ="{% static 'fixit/img/socials/twitter-social.png' %}" alt="share-ndoozi"  title="share this job on twitter"/>
    </i></a></li>

    <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin">
    	<img src ="{% static 'fixit/img/socials/youtube-social.png' %}" alt="share-ndoozi"  title="share this job on youtube"/>
    </i></a></li>

    <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin">
    	<img src ="{% static 'fixit/img/socials/email.png' %}" alt="share-ndoozi"  title="email to a friend"/>

    </i></a></li>
</ul>