{% extends "fixit/main/post-job.html" %}
{%block title %}Fixit.com | Nigeria's Foremost Jobs Service Provider {% endblock title %}
{% block top-header %}
<h4>Nigeria's Foremost Jobs service Provider</h4>
 {% endblock top-header %}

 {% block banner-link %}
	<a class="btn btn-xs btn-lemon" href="{% url "fixitMain:postjob" %}">
		<h3>Get Started </h3>
	</a>
{% endblock banner-link %}


{% block portfolio %}
<div class="padding-lg-sides">
		<div class="row">
			<div class="col-lg-8 pad-top-lg">
				<div class="pad-top-lg">
					<div class="pad-top-lg padding-sm-sides">		
						2-12), and Mono for Android will deploy your application to the emulator. This
						can take a little while the first time, as it installs the debug runtime, but subsequent
						deployments will be much faster. Once the application starts up, it should look like Figure 2-13. Congratulations—you have just built your first Android application!
					</div>	
				</div>
			</div>

			<div class="col-lg-4">
				<div class="padding-sm-sides">
					{% include 'fixit/partials/feedback.html' %}
				</div>
			</div>
		</div>
</div>
{% endblock portfolio %}


 {% block caption %} {% endblock caption %}