{% extends 'fixit/base.html' %}
{% load staticfiles %}
{% block title %} Jobs in {{ cat_title|title }} {% endblock title %}
{% block header %} 

<script>
$(document).ready(function() {

    $('#cat_form').submit(function(){
       var  $this = $('#select-category');
        var selected = $this.find(":selected").text();
        if (selected === 'Search Job by categories'){
            $this.css('border-color','red');
            return false;
        }    
    });


	$('[data-toggle="popover"]').popover({
		html:      "true",
		placement: "top",
		trigger:   "focus"
	});
})  // ends on ready function

</script>

    <div class="row">
        <div class="col-lg-12 pull-right">
            <span class="pull-right">
                {% block find-tradesman %}
                <a class="btn btn-xs btn-white" href="{% url "fixitMain:postjob" category="new" %}"><h5>post a project</h5></a>
                <a href="{% url 'fixitTradesmen:register-tradesman' source="new" %}" class="btn btn-xs btn-lemon"><h5>REGISTER AS A SPECIALIST</h5></a>
                {% endblock find-tradesman %}
            </span>
        </div> 
    </div>
{% endblock header %}

{% block breadcrumb %}
<!-- <div class="padding-sm-sides"> -->
	<li><a href="{% url "fixitMain:index" %}">Home</a></li><li>{{ cat_title }} </li>
<!-- </div> -->
{% endblock breadcrumb %}

{% block portfolio %} 
<div class="padding-lg-sides">
	<!-- <div class="padding-sm-sides"> -->

  <strong> {{ cat_title|upper }}</strong> <br/>

  <div class="row">
  		<div class="row" role="select province">
				<div class="col-sm-12 pull-left">
					<form action ="{% url 'fixitMain:cat_details' %}" method="get" id="cat_form">
                        <select name="category" id = "select-category" class="btn-option btn-xl" onchange='this.form.submit()'>
                            {% for category in cat_list %}
                            	<option name="" value="empty" selected  style="display: none;" disabled="true">Search other Categories</option>
                                <option name="job_category" value="{{ category.title_slug }}" id="cat_{{ category.id }}"> {{ category.category_title|title }} </option>
                            {% endfor %}
                        </select>
                    </form>
				</div>
			</div>
	  	</div>
	<!-- </div> -->
</div>

  <!-- Caption here -->
<!-- <div class="padding-sm-sides"> -->
	<div class="padding-lg-sides">
		<div class="row border-rounded-thin bg-primary">
			<div class="padding-sm-sides">
			  	<div class="col-lg-8">
			  		<div class="text-left text-verdana text-justify">
			  			<br/>

			  			<span> {{ cat_caption|capfirst }}
			  			 </span>
					        <br/><br/>
			  		</div>
			  	</div>
			  	<div class="col-lg-4">
			  		<div class="padding-sm-sides">
						<div class="pull-left">
							<a class="btn btn-xs btn-lemon" href="{% url "fixitMain:postjob" category="new" %}">
								<h3>post a job</h3>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
<!-- </div> -->




{% endblock portfolio %}

{% block about %}
<!-- <div class="padding-sm-sides"> -->
	<div class="padding-sm-sides">
		<div class="row" role="all jobs table">
			<div class="padding-sm-sides">
				<span class="category-header">Jobs In This Category </span>
					
					<table class="table table-striped table-hover table-bordered">
						{% if no_jobs %}
							<div class="well well-danger ">
								<span class="category-header"> Sorry there are no jobs in this category yet.
								</span>
							</div> 
						{% else %}
						<caption class="text-danger"> To submit a quotation for any of the jobs listed use the <strong>Respond</strong> button</caption>
						<thead class="bg-primary">
							<th>Image</th>
							<th>Title</th>
							<th>Responses</th>
							<th>Status</th>
							<th>City</th>
							<th>Date posted</th>
							<th>Views</th>
							<th>Action</th>
						</thead>
						{% endif %}
						<tbody>
							<tr>
							{% for job in jobs_in_cat  %}
								<td > 
									{% for file in uploads %}
										{% if file.job_id = job.job_id %}
											<a href = "/{{job.job_category.title_slug}}/{{job.job_id}}/{{job.title_slug}}">
												<div class="logo">
													<img src="{{ file.picture.url }}" alt="{{job.job_title" /> 
												</div>
											</a>
										{% endif %}
									{% endfor %}
								</td>
								<td class="joblink"> 
									<a href = "/{{job.job_category.title_slug}}/{{job.job_id}}/{{job.title_slug}}" style="text-decoration:none;"> <strong>{{job.job_title|capfirst }} </strong></a>
								</td>
								<td>0</td>
								<td>{{ job.status }}</td>
								<td>{{ job.location|capfirst }}</td>
								<td>{{ job.date_posted|date }}</td>
								<td class="text-center">{{ job.views }} <br/> View{{job.views|pluralize }}</td>

								<td class="pull-right">
									{% if job.status == 'Open' %}
									<!-- When user is logged in -->
										{% if user.is_authenticated %}
											{% for group in user.groups.all %}
												{% if not group.name = 'Tradesmen' %}
													<a href="{% url 'fixitTradesmen:respond_to_job' job.job_id job.title_slug "bid" %}"
													class="btn btn-danger"  data-toggle="popover" title="Attention!" data-content="You do no have the permission to respond to jobs. Click <a href='{% url "fixitTradesmen:register-tradesman" source="response" %}'>here</a> to log in with your <i class = 'text-danger'>service provider</i> details or register as a service provider" onclick='return false;'>Respond</a>
												{% else %}
													<a href="{% url 'fixitTradesmen:respond_to_job' job.job_id job.title_slug "bid" %}" class="btn btn-danger" >Respond</a>
												{% endif %}
											{% endfor %}
										{% else %}
											<!-- when user not logged in -->
											<a href="{% url 'fixitTradesmen:respond_to_job' job.job_id job.title_slug "bid" %}" class="btn btn-danger" >Respond</a>
										{% endif %}
									{% else %}
										<span class="text-center">Closed</span>
									{% endif %}
								</td>
							</tr>
							{% endfor %}

						</tbody>
					</table>
					<div class="pagination text-center">
					{% if jobs_in_cat.has_previous %}
						<span class="btn btn-sm btn-primary">
							<a href="?page={{ jobs_in_cat.previous_page_number}}"> Previous</a> 
						</span>
					{% endif %}

					<span class="current">
			            Page {{ jobs_in_cat.number }} of {{ jobs_in_cat.paginator.num_pages }}.
			        </span>

			        {% if jobs_in_cat.has_next %}
			        <span class="btn btn-sm btn-primary">
			            <a href="?page={{ jobs_in_cat.next_page_number }}">next</a>
			        {% endif %}
			    	</span>
				</div>
				</div>
			</div>
		</div>
<!-- </div> -->
{% endblock about %}


{% block contact %}


	{% include 'fixit/partials/jobzone_list.html' %}
{% endblock contact %}