{% extends "fixit/main/post-job.html" %}
{% load staticfiles %}
{% block title %} Frequently Asked Questions {% endblock title %}

{% block top-header %}
	<h3> frequently asked questions</h3> 
{% endblock top-header %}

{% block banner-link %}
	<a class="btn btn-xs btn-lemon" href="{% url "fixitMain:postjob" category="new" %}">
		<h4>FIND A TRADESMAN </h4>
	</a>
{% endblock banner-link %}

{% block caption %}
{% endblock caption %}

{% block portfolio %}

<div class="padding-lg-sides">
	<div class="row">
		<div class="col-lg-8 pad-top-lg">
			<div class="pad-top-lg faqs">
				
				<h4>what is your pricing system</h4>

				<p class="padding-sm-sides">Once the emulator finishes launching, select it in the list of running devices (see Figure
				2-12), and Mono for Android will deploy your application to the emulator. This
				can take a little while the first time, as it installs the debug runtime, but subsequent
				deployments will be much faster. Once the application starts up, it should look like
				Figure 2-13. Congratulations—you have just built your first Android application!
				</p>

				<h4>what is your pricing system</h4>
				<p class="padding-sm-sides">Once the emulator finishes launching, select it in the list of running devices (see Figure
				2-12), and Mono for Android will deploy your application to the emulator. This
				can take a little while the first time, as it installs the debug runtime, but subsequent
				deployments will be much faster. Once the application starts up, it should look like
				Figure 2-13. Congratulations—you have just built your first Android application!
				</p>

				<h4>what is your pricing system</h4>
				<p class="padding-sm-sides">Once the emulator finishes launching, select it in the list of running devices (see Figure
				2-12), and Mono for Android will deploy your application to the emulator. This
				can take a little while the first time, as it installs the debug runtime, but subsequent
				deployments will be much faster. Once the application starts up, it should look like
				Figure 2-13. Congratulations—you have just built your first Android application!
				</p>

				<h4>what is your pricing system</h4>
				<p class="padding-sm-sides">Once the emulator finishes launching, select it in the list of running devices (see Figure
				2-12), and Mono for Android will deploy your application to the emulator. This
				can take a little while the first time, as it installs the debug runtime, but subsequent
				deployments will be much faster. Once the application starts up, it should look like
				Figure 2-13. Congratulations—you have just built your first Android application!
				</p>
			</div>
			<div class="col-lg-4">
				<!-- somethnig here -->
			</div>
			
		</div>
	</div>
</div>
{% endblock portfolio %}